/*!
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1000px;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
}

video {
    border: 1px solid #ccc;
    max-width: 100%;
    max-height: 100%;
}

.button-container {
    margin-top: 10px;
}

.start {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.start:hover {
    background-color: #45a049;
}
*/